color-blue = #3f7cac
color-orange = #f89c7d
color-white = #fcfaf6
color-black =  #1e2223
color-gray = lighten(color-black, 10%)
color-light-gray = lighten(color-gray, 25%)
color-dark-gray = darken(color-gray, 5%)
