body.page, body.portfolio-item {

     .page-content {
        position: relative;
        background: $color-white;
        padding-top: (2*$spacing);
        padding-bottom: (4*$spacing);
        @include container;
        @include readable;

        p {
            margin: 0;
            margin-bottom: $spacing;

            img.none {
                display: block;
                margin: 0 auto;
                width: auto;
                height: auto;
                max-width: 100%;
            }

            img.left {
                float: left;
                margin: 0 $spacing $spacing -1*$spacing;
                width: 50%;
            }

            img.right {
                float: right;
                margin: 0 -1*$spacing $spacing $spacing;
                width: 50%;
            }

            img.full {
                display: block;
                width: calc(100% + (2 * #{$spacing}));
                height: auto;
                margin: 0 -1*$spacing $spacing -1*$spacing;
            }

            img.left, img.right, img.full {
                @include phone-break {
                    width: calc(100% + (2 * #{$spacing}));
                    height: auto;
                    margin: 0 -1*$spacing $spacing -1*$spacing;
                }
            }
        }

        iframe {
            margin-bottom: $spacing;
        }

        .videoWrapper {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .back-link {
        font-size: 1em;
        margin: 0 auto;
        margin-top: 2*$spacing;
        display: block;
        text-align: center;
        @include font-sans-serif;
        color: $color-blue;
        text-transform: uppercase;
        text-decoration: none;

        &::before{
            content: ' ▸▸';
            display: inline-block;
            position: relative;
            top: .125em;
            transform: rotate(180deg);
        }

        &:hover {
            color: $color-orange;
        }
    }
}
