{% include head.html %}

<body class="{{ page.layout | replace: '/', '-' }}">

	<div class="site-wrap">

		{% include components/layout/mobile-nav.html %}

		<div class="site">

			{% include components/layout/header.html %}

			{% include components/swiper.html %}

			<main class="page-content portfolio-detail">
				<div class="portfolio__header">
					<h1 class="portfolio__h1">{{ page.title }}</h1>

					{% include components/meta.html %}
				</div>

			    {{ content }}
				<span class="back__link">
					<a href="/{{ page.parent }}"> Back to Portfolio</a>
				</span>
			</main>

			{% include components/layout/footer.html %}

		</div>
	</div>

</body>
