{% capture layout %}{{ page.layout | replace: '/', '-' }}{% endcapture %}

<section class="meta">

    <!-- {% if layout == 'blog' %}
        <span class="meta__date">{{ post.date | date: "%b %d, %Y" }}{{ page.date | date: "%b %d, %Y" }}</span>
    {% endif %}

    {% for tag in post.tags %}
        <span class="meta__tag">#{{ tag }}</span>
    {% endfor %}

    {% for tag in page.tags %}
        <span class="meta__tag meta__tag--primary">#{{ tag }}</span>
    {% endfor %} -->

    {% for tag in page.secondary-tags %}
        <span class="meta__tag meta__tag--secondary">#{{ tag }}</span>
    {% endfor %}

    {% if layout == 'portfolio-list' %}
        {% for tag in work.tags %}
            <span class="meta__tag meta__tag--primary">#{{ tag }}</span>
        {% endfor %}
    {% endif %}

    {% if layout == 'portfolio-list-filtered' %}
        {% for tag in work.secondary-tags %}
            <span class="meta__tag meta__tag--secondary">#{{ tag }}</span>
        {% endfor %}
    {% endif %}

    {% for client-link in page.client-link%}
        {% assign link =  client-link | remove: ' ' | split: ',' %}
        <a class="meta__link" href="{{ link[1] }}" target="_blank">{{ link[0] }}</a>
    {% endfor %}

</section>
