<section class="meta">
    <span class="meta__date">{{ post.date | date: "%b %d, %Y" }}{{ page.date | date: "%b %d, %Y" }}</span>
    {% for tag in post.tags %}
        <span class="meta__tag">#{{ tag }}</span>
    {% endfor %}
    {% for tag in page.tags %}
        <span class="meta__tag">#{{ tag }}</span>
    {% endfor %}
    {% for tag in work.tags %}
        <span class="meta__tag">#{{ tag }}</span>
    {% endfor %}
    {% for client-link in page.client-link%}
        {% assign link =  client-link | remove: ' ' | split: ',' %}
        <a class="meta__link" href="{{ link[1] }}" target="_blank">{{ link[0] }}</a>
    {% endfor %}
</section>
