<section class="portfolio-swiper {% if page.slides.size > 1 %}swiper-container{% endif %}" style="background-color:#{{ page.brand-color }};">
	<div class="swiper-wrapper">
			{% for image in page.slides %}
				<div class="swiper-slide" style="background-image: url('{{ image }}');">
					<img src="{{ image }}" alt="portfolio image">
				</div>
			{% endfor %}
	</div>
	{% if page.slides.size > 1 %}
		<div class="swiper-pagination">
		</div>
		<div class="swiper-button-container">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	{% endif %}
</section>
