<section class="portfolio-swiper {% if page.slides.size > 1 %}swiper-container{% endif %}" style="background-color:#{{ page.brand-color }};">
	<div class="swiper-wrapper">
			<!-- {% for image in page.slides %}
				<picture class="swiper-slide" style="background-image: url('{{ image }}');">
					<source media="(min-width: 650px)" srcset="{{ image }}" background-image: blue;>
					<source media="(min-width: 465px)" srcset="{{ image }}" background-image: red;>
					<img src="{{ image }}" alt="Flowers">
				</picture>
			{% endfor %} -->
			{% for slide in page.testarray %}

				{% assign image =  slide | split: ',' %}

				<picture class="swiper-slide">
					<div class="fallback" style="background-image: url('{{ image[1] }}');"></div>
					<source media="(max-width: 667px)" srcset="{{ image[3] }}">
					<source media="(max-width: 1349px)" srcset="{{ image[2] }}">
					<img src="{{ image[1] }}" alt="{{ image[0] }}">
				</picture>

			{% endfor %}
	</div>
	{% if page.slides.size > 1 %}
		<div class="swiper-pagination">
		</div>
		<div class="swiper-button-container">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	{% endif %}
</section>
