{% capture image-root %}/assets/images/portfolio/{{ work.title | downcase | replace: ' ', '-'}}/{% endcapture %}

<a class="portfolio-block" href="{{ work.url }}" style="background-image:url({{ image-root}}{{ work.thumbnail }});">

    <div class="portfolio-block__logo">
        <img src="{{ image-root}}{{work.logo}}" alt="{{work.title}}">
    </div>

    <main class="portfolio-block__info" >
        <header>
            <h2>{{work.title}}</h2>
        </header>
        {% include components/meta.html %}
        <span class="portfolio-block__link">Read More</span>
    </main>
</a>
