{% if page.layout == "portfolio-list" %}
      {% assign subnav = true %}
{% endif %}

{% if page.layout == "portfolio-list-filtered" %}
      {% assign subnav = true %}
{% endif %}

{% assign tags =  site.portfolio | map: 'tags' | join: ','  | split: ',' | uniq %}

{% if subnav %}
    <ul class="subnav">
        {% for tag in tags %}
            <li class="subnav__link {% if page.category == category %}active{% endif %}">
                <a href="/{{ tag }}/">
                    {{ tag }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if subnav %}
<div class="subnav--mobile js-subnav-mobile">
    <div class="subnav--mobile__title js-subnav-mobile-button">
        <span>Categories</span>
       <div class="subnav--mobile__dropdown--wrap">
           <div class="subnav--mobile__dropdown"></div>
       </div>
    </div>
    <ul class="subnav--mobile__list">
        {% for tag in tags %}
            <li class="subnav--mobile__link {% if page.category == category %}active{% endif %}">
                <a href="/{{ tag }}/">
                    {{ tag }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endif %}
