{% include head.html %}

<body class="{{ page.layout | replace: '/', '-' }}">

	<div class="site-wrap">

		{% include components/layout/mobile-nav.html %}

		<div class="site">
			{% include components/layout/header.html %}

			<section class="page-content">

				<div class="portfolio-grid">

					{% assign cats = site.portfolio | group_by:"category" %}

					{% for cat in cats %}
						{% for item in cat.items limit:1 %}
						  {{ item.title }}
						{% endfor %}
					{% endfor %}

	            </div>

			</section>

			{% include components/layout/footer.html %}
		</div>
	</div>

</body>
