{% include head.html %}

<div class="site-wrap">

	{% include components/mobile-nav.html %}
	
	<div class="site {{ page.layout }}">
		{% include components/header.html %}

		<section class="page-content">

			<div class="portfolio-grid">

				{% assign cats = site.portfolio | group_by:"category" %}

				{% for cat in cats %}
					{% for item in cat.items limit:1 %}
					  {{ item.title }}
					{% endfor %}
				{% endfor %}

            </div>

		</section>

		{% include components/footer.html %}
	</div>
</div>
