{% include head.html %}

<div class="site-wrap">

	{% include components/layout/mobile-nav.html %}
	
	<div class="site {{ page.layout }}">

        {% include components/layout/header.html %}

        {% include components/banner-glitch.html %}

        <main class="page-content {{ page.layout }}">

            {% include components/subnav.html %}

            <div class="portfolio-grid">
                {% for work in site.portfolio %}
                    {% if work.tags contains page.filter %}
                        {% include components/grid-block.html %}
                    {% endif %}
                {% endfor %}
            </div>
        </main>

        {% include components/layout/footer.html %}

    </div>
</div>
