{% include head.html %}

<div class="site-wrap">
	<div class="mobile-tray">
		{% include components/mobile-nav.html %}
	</div>
	<div class="site {{ page.layout }}">

        {% include components/header.html %}

        {% include components/banner-glitch.html %}

        <main class="page-content {{ page.layout }}">
			<!-- <p>{{ page.content }}</p> -->

			{% include components/subnav.html %}

            <div class="portfolio-grid">
				{% if site.pfolio-layout == "gifs" %}
					{% for work in site.portfolio %}
						{% include components/grid-block-gif.html %}
					{% endfor %}
				{% else %}
					{% for work in site.portfolio %}
						{% include components/grid-block.html %}
					{% endfor %}
				{% endif %}
            </div>
        </main>

        {% include components/footer.html %}

    </div>
</div>
