@mixin button {
    display: block;
    cursor: pointer;
    text-align: center;
    @include text-link;
}

@mixin button--primary {
    @include button;
    background-color: $color-blue;
    font-size: 1.5em;
    color: $color-white;

    &:hover {
        background-color: darken($color-blue, 5%);
        color: $color-white;
    }
}

@mixin button--secondary {
    @include button;
    background-color: $color-orange;
    @include text-link;
    font-size: 1.125em;
    color: $color-white;

    &:hover {
        background-color: darken($color-orange, 5%);
        color: $color-white;
    }
}

@mixin button--gray {
    @include button;
    background-color: $color-gray;
    @include text-link;
    font-size: 1.125em;
    color: $color-white;

    &:hover {
        background-color: $color-dark-gray;
        color: $color-white;
    }
}
