$formheight: 400px;

iframe.contact-container {
    border: 0;
    height: $formheight;
    width: 100%;
    margin-top: 2*$spacing;
    margin-bottom: 2*$spacing;

    @include phone-break {
        height: 1.25*$formheight
    }
}

.js-expander {
    &::after {
        margin-left: 1rem;
        content: '';
        display: block;
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        border-right: .75rem solid $white;
        transition: $transition;
    }
    &.open {
        &::after {
            transform: rotate(-90deg);
        }

        + .js-expandee {
            max-height: 1000px;
        }
    }
}

.contact__header {
    width: 100%;
    background-color: $black;
    @include font-condensed;
   color: $white;
   font-size: 1.25em;
   text-align: center;
   text-transform: uppercase;
   padding: $spacing/2;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form#contact-form {
        background-color: none;
        height: $formheight;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;

        @include phone-break {
            height: 1.25*$formheight
        }

        .contact__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing/2;

            @include phone-break {
                flex-wrap: wrap;
            }

            &:last-child {
                margin-bottom: 0;
            }

            > div {
                display: flex;
                flex-direction: column;
                height: 3em;
            }

            .contact__row--half {
                width: calc(50% - #{$spacing}/4);

                @include phone-break {
                    width: 100%;
                    margin-bottom: $spacing/2;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .contact__row--full {
                width: 100%;
            }
        }

        .contact__row--flex {
            flex: 1;
            align-items: stretch;
            flex-direction: column;

            & > div {
                flex: 1;
                display: flex;
                flex-direction: column;

                & > * {
                    flex: 1;
                }
            }
        }

        input, textarea {
            font-size: .75em;
            @include font-sans-serif;
            padding: $spacing/4;
            border: 2px solid transparent;
            border-radius: 0;
            -webkit-appearence: none;
            transition: $transition;
            flex: 1;
            order: 1;

                &:focus {
                    outline: none;
                    border: 2px solid $gray;
                    margin: 0;

                    &::-webkit-input-placeholder {
                        transition: $transition;
                        color: transparent;
                    }
                    &::-moz-placeholder {
                        transition: $transition;
                        color: transparent;
                    }
                    + label {
                        max-height: $spacing;
                    }
                }
        }

        textarea {
            resize: none;
        }

        label {
            max-height: 0;
            color: $white;
            font-weight: bold;
            background-color: $gray;
            overflow: hidden;
            font-size: .6em;
            padding-left: 0.5rem;
            flex: 1;
            order: 2;
            display: flex;
            align-items: center;
            transition: $transition;
        }

        .button {
            @include button--secondary;
            border: 0;
            border-radius: 0;
            -webkit-appearance: none;
            height: 3em;

            &:focus {
                border: 0;
            }
        }
    }

    .contact__message {
        color: $white;
        text-align: center;
        width: 100%;
        font-size: 1.5em;

        a {
            display: block;
            cursor: pointer;
            color: $secondary-color;
            margin-top: $spacing;

             &:hover {
                 color: $white;
             }
        }
    }
}
