.footer {
        background: $dark-gray;

    .footer--pre {
        background: $primary-color;

        .footer__contact {
            @include grid--container;
            display: flex;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            padding-left: 20px;
            transition: $transition;
        }
    }

    .footer--main {
        @include grid--container;
        padding: $spacing;

        @include tablet-break {
            max-width: 80vw;
        }

        @include phone-break {
            max-width: 100%;
        }

        .footer__column {
            flex: 1;
            margin-right: $spacing*2;
            display: flex;
            align-items: center;

            &:last-child {
                margin-right: 0;
            }

            @include tablet-break {
                margin-right: 0;
            }

            &.footer__branding {
                flex: 1;
                width: 100%;
                height: auto;
                display: flex;

                a {
                    flex: 1;
                    display: block;
                    width: 100%;

                    svg {
                        height: auto;
                        width: 100%;

                        path {
                            fill: $white;
                        }

                        path.logo {
                            fill: $white;
                        }

                        text.tagline {
                            display: none;
                        }

                        path.initials {
                            display: none;
                        }

                        &:hover {
                            path {
                                fill: $secondary-color;
                            }
                        }

                        @include tablet-break {
                            display: block;
                            width: 50%;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }

            &.footer__nav {
                flex: 2;

                .nav {
                    list-style: none;
                    padding-left: 0;

                    &__link {
                        margin: $spacing/2 0;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        text-align: left;

                        a {
                            color: $white;

                            &:hover {
                                color: $secondary-color;
                            }
                        }

                        &:first-child {
                            margin-top: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.footer__socials {
                flex: 2;
            }
        }

        @include tablet-break {
            display: block;

            .footer__branding {
                width: 100%;
                max-width: 100%;
                margin-bottom: 2*$spacing;
            }
        }

        .socials {
            padding: 0;
            flex-wrap: wrap;
            justify-content: flex-end;

            @include tablet-break {
                flex-wrap: nowrap;
            }

            li {
                flex: 0 1 25%;


                .social {

                    svg {
                        max-height: 67px;
                    }

                    &::after {
                        @include tablet-break {
                            margin-top: 0;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    .footer--post {
        background: $black;
        color: $white;
        padding-top: .5em;
        padding-bottom: .5em;
        width: 100%;

        .footer__legal {
            @include grid--container;
            justify-content: center;
            text-align: center;
            @include header-font;
            font-size: .9em;
        }
    }
}

.site.home {
    .footer {
        .nav__link a {
            font-size: 2em;

            @include tablet-break {
                font-size: 1.5em;
            }
        }
    }
}
