.footer {
        background: $color-dark-gray;
}


.footer-pre {
    background: $color-blue;

    .footer-contact {
        &__header {
            width: 100%;
            background-color: $color-black;
            @include font-condensed;
           color: $color-white;
           font-size: 1.25em;
           text-align: center;
           text-transform: uppercase;
           padding: $spacing/2;
           display: flex;
           justify-content: center;
           align-items: center;
           cursor: pointer;
        }

        &__container {
            @include container;
            display: flex;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            padding-left: 20px;
            transition: $transition;
        }
    }

    .js-expander {
        &::after {
            margin-left: 1rem;
            content: '';
            display: block;
            border-top: .5rem solid transparent;
            border-bottom: .5rem solid transparent;
            border-right: .75rem solid $color-white;
            transition: $transition;
        }
        &.open {
            &::after {
                transform: rotate(-90deg);
            }

            + .js-expandee {
                max-height: 1000px;
            }
        }
    }
}

.footer-main {
    @include container;
    padding: $spacing;

    @include tablet-break {
        max-width: 80vw;
    }

    @include phone-break {
        max-width: 100%;
    }

    .footer__column {
        flex: 1;
        margin-right: $spacing*2;
        display: flex;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }

        @include tablet-break {
            margin-right: 0;
        }

        &.footer__nav {
            flex: 2;

            .nav {
                list-style: none;
                padding-left: 0;

                &__link {
                    margin: $spacing/2 0;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    text-align: left;

                    a {
                        color: $color-white;

                        &:hover {
                            color: $color-orange;
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.footer-post {
    @include container-wide;
    padding-right: 0;
    background: $color-black;
    color: $color-white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
        @include font-condensed;
        font-size: .9em;
    }

    .socials {
        svg {
            height: 30px;
        }
    }

    @include phone-break {
        display: block;
        padding: 0;

        .copyright {
            text-align: center;
            padding: $spacing;
        }

        .socials {
            svg {
                height: auto;
            }
        }
    }
}

.site.home {
    .footer {
        .nav__link a {
            font-size: 2em;

            @include tablet-break {
                font-size: 1.5em;
            }
        }
    }
}
