.header {
    background-color: $color-black;
    padding: 1rem;
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

    &__logo {
        svg {
            display: block;
            height: 1.5em;
            width: auto;

            * {
                fill: $color-white;
            }
        }

        &:hover {
            svg * {
                fill: $color-orange;
            }
        }
    }

    .nav {
        flex: 1;

        @include tablet-break {
            display: none;
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }

        &__link {
            a {
                text-decoration: none;
                margin-left: 2rem;
                @include font-condensed;
                text-transform: uppercase;
                font-size: 1em;
                color: $color-white;
                }
            &:hover a {
                @include glitch($color-white, $color-black);
            }

            &.active a {
                color: $color-orange;
            }

            &.active:hover a {
                @include glitch($color-orange, $color-black);
            }
        }
    }
}

.navicon {
    align-self: stretch;
    width: 50px;
    height: auto;
    position: relative;
    margin-left: 2rem;
    display: none;

    @include tablet-break {
        display: block;
    }

    &--top, &--middle, &--bottom {
        display: block;
        height: .25rem;
        width: 100%;
        background-color: $color-white;
        position: absolute;
        transform-origin: center center;
    }

    &--top {
        top: 0;
        transition-property: top, transform;
        transition-duration: .2s, .2s;
        transition-delay: .2s, 0s;

        .open & {
            top: calc(50% - .125rem);
            transform: rotate(45deg);
            transition-property: top, transform;
            transition-duration: .2s, .2s;
            transition-delay: 0s, .2s;
        }
    }

    &--middle {
        top: 50%;
        transform: translateY(-50%);
        transition: 0s;
        transition-delay: .2s;

        .open & {
            opacity: 0;
            transition: 0s;
            transition-delay: .2s;
        }
    }

    &--bottom {
        position: absolute;
        z-index: 1;
        bottom: 0;
        transition-property: bottom, transform;
        transition-duration: .2s, .2s;
        transition-delay: .2s, 0s;

        .open & {
            bottom: calc(50% - .125rem);
            transform: rotate(-45deg);
            transition-property: bottom, transform;
            transition-duration: .2s, .2s;
            transition-delay: 0s, .2s;
        }
    }
}
