.site-wrap {
    .mobile-nav {
        max-height: 0;
        overflow: hidden;
        transition: $transition;
    }

    &.open {
        .mobile-nav {
            max-height: none;
        }
    }
}

.mobile-nav-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparentize($color-black, .5);
    z-index: 40;
    display: none;
}

.navicon {
    align-self: stretch;
    width: 50px;
    height: auto;
    position: relative;
    margin-left: 2rem;
    display: none;

    @include phone-break {
        display: block;
    }

    &--top, &--middle, &--bottom {
        display: block;
        height: .25rem;
        width: 100%;
        background-color: $color-white;
        position: absolute;
    }

    &--top {
        top: 0;
        transform: rotate(0deg);
        transition: top $transition/2 ease $transition/2,
                    transform 0$transition/2 ease 0s;

        .open & {
            top: calc(50% - .125rem);
            transform: rotate(45deg);
            transition: top $transition/2 ease 0s,
                        transform 0$transition/2 ease $transition/2;
        }
    }

    &--middle {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        transition: opacity 0s ease $transition/2;

        .open & {
            opacity: 0;
            transition: opacity 0s ease $transition/2;
        }
    }

    &--bottom {
        position: absolute;
        bottom: 0;
        transition: bottom $transition/2 ease $transition/2,
                    transform 0$transition/2 ease 0s;

        .open & {
            bottom: calc(50% - .125rem);
            transform: rotate(-45deg);
            transition: bottom $transition/2 ease 0s,
                        transform 0$transition/2 ease $transition/2;

        }
    }
}

.mobile-nav {
    .nav {
        font-size: 2rem;
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__link {
            background-color: $color-blue;
            border-bottom: 0.0125em solid $color-white;

            &:last-child {
                border-bottom: 0;
            }

            a {
                display: block;
                color: $color-white;
                @include font-condensed;
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                padding: .5em;
            }

            &.active {
                a {
                    color: $color-orange;
                }
            }
        }
    }
}
