@mixin grid-block-active {

    &::before {
        content: '';
        display: block;
        @include pixels;
        background-color: transparentize($color-blue, .25);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: .66;
    }

    .portfolio-block__info {
        transform: translateY(0);
    }
}

.portfolio-block {
    display: block;
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    color: $color-white;
    text-shadow: $shadow;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;

    &__info {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateY(33.33333%);
        transition: $transition;
        display: flex;
        flex-direction: column;
        @include container;
    }

    &__title {
        flex: 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: $spacing;

        img {
            width: 100%;
            height: 100%;
            max-width: 75%;
            max-height: 75%;
        }

        h2 {
            @include font-condensed;
            color: $color-white;
            font-weight: 300;
            text-align: center;
            @include font-size(3.5em, 3.25em, 3em);
            line-height: 1em;
            margin: 0;
        }
    }

    &__hidden {
        flex: 1;
        text-align: center;
    }

    .meta {
        font-size: 1.25em;
        display: block;
        margin-bottom: $spacing/2;
    }

    &__link {
        display: block;
        color: $color-white;
        font-size: 1.5em;

        &::after{
            content: ' ▸▸';
            display: inline-block;
            position: relative;
        }

        &:hover {
            color: $color-white;
        }
    }

    .video {
        height: 100%;
        width: auto;
    }

    &:hover {
        .portfolio-block__title, .portfolio-block__link {
            color: $color-orange;
        }

        @include grid-block-active;
    }

    @include tablet-break {
        @include grid-block-active;
    }
}
