.subnav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    @include container;
    padding: 0;
    margin-bottom: $spacing;
    position: relative;
    background: $gray;
    color: $white;

    @include tablet-break {
        width: 50%;
        margin: 0 auto $spacing auto;
        flex-direction: column;
    }

    @include phone-break {
        width: calc(100% - (2*#{$spacing}));
        margin: 0 $spacing $spacing $spacing;
    }

    .subnav__title {
        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: center;
        @include header-font;
        font-size: 1.25em;
        padding-left: $spacing;

        @include tablet-break {
            display: flex;
        }

        .subnav__dropdown--wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            cursor: pointer;

            .subnav__dropdown {
                display: block;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 15px solid $white;
                transition: $transition;
            }
        }
    }

    .subnav__list {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        transition: $transition;

        @include tablet-break {
            max-height: 0;
            overflow: hidden;
            position: absolute;
            z-index: 200;
            top: 100%;
            flex-direction: column;
        }

        @include phone-break {
            position: static;
        }

        .subnav__link {
            background: $black;
            flex: 1;
            list-style: none;

            a {
                display: block;
                padding: $spacing/2 $spacing;
                color: $white;

                @include tablet-break {
                    padding: $spacing;
                }
            }

            &.active {
                background: $primary-color;
            }
        }
    }

    &.open {
        .subnav__dropdown--wrap {
            .subnav__dropdown {
                transform: rotate(-90deg);
            }
        }
        .subnav__list {
            max-height: 1000px;
        }
    }

    .subnav__link {


        a {
            color: $white;
            font-size: 1.25em;
            text-align: center;
            display: block;
            width: 100%;
            padding-top: .5em;
            padding-bottom: .5em;
            @include nav-font;
            text-decoration: none;
            background-color: $gray;
        }

        &:hover a {
            background: $black;
        }

        &.active a {
            background: $primary-color;
        }
    }
}
